*.lot
img/PP.jpg
tabdia/Vorlage Tabellen.xlsx
tabdia/Tabellen Vorlage.docx
00_Vorlage Protokoll UT.toc
00_Vorlage Protokoll UT.out
img/skizzepruef.jpg
img/skizzepruef2.jpg
img/skizzepruef3.jpg
data/Propellerrührer 500 Umdr. 2 ml.TXT
data/Propellerrührer 700 Umdr. 2 ml.TXT
data/Propellerrührer 900 Umdr. 2 ml.TXT
data/Rührer_Leitfähigkeit.xlsx
data/Scheibenrührer 500 Umdr. 2 ml.TXT
data/Scheibenrührer 700 Umdr. 2 ml.TXT
data/Scheibenrührer 900 Umdr. 2 ml.TXT
data/Turbinenrührer 500 Umdr. 2 ml.TXT
data/Turbinenrührer 700 Umdr. 2 ml.TXT
data/Turbinenrührer 900 Umdr. 2 ml.TXT
img/AnleitungZugversuchMetall_Kunststoff.pdf
img/Drawing2.CATDrawing
img/Drawing2.pdf
img/Kupfer_gewalzt.jpg
img/Kupfer_weich.jpg
